body {
    background-color: rgb(28, 28, 28);
    color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

header {
    color: black;
    /* background:
        radial-gradient(#000 0.5px,transparent 0.5px) 0   0   /3px 3px,
        radial-gradient(#000 0.5px,transparent 0.5px) 1px 1px /3px 3px,
        radial-gradient(#000 0.5px,transparent 0.5px) 2px 2px /3px 3px,
        url(https://i.picsum.photos/id/102/800/800.jpg) center/cover; */

    background-color: rgb(0, 200, 0);
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.card {
    background-color: rgb(0, 200, 0);
    color: black;
    font-weight: bolder;
    padding-left: 5px;
    padding-bottom: 2px;
}

input, select, textarea {
    color: chartreuse;
    background-color: black;
    caret-color: chartreuse;
}